<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><font color="green">Muito Obrigado! Nós do Fala Floripa Agradecemos a sua Opinião!</font></h1>
<img src="../img/2b82289c-e9aa-4264-9198-f13f195836a2_200x200.png">
    <h2>Sua Opinião irá ser levada em conta! Vc Recebera uma resposta da prefeitura em até 10 dias</h2>
</body>
</html>